::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #00c3ff;
}
::-webkit-scrollbar-thumb {
  background: #2e2d2d;
  border-radius: 12px;
  transition: all 1s ease;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body {
  background: url(img/1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.calculator-box {
  position: relative;
  background: rgba(68, 68, 68, 0.151);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.151);
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  backdrop-filter: blur(15px);
}
.calculator-box .calculator {
  display: grid;
  position: relative;
}
.calculator-box .calculator .value {
  background: transparent;
  color: #fff;
  grid-column: span 4;
  height: 150px;
  width: 400px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.055);
}
.calculator-box .calculator span {
  display: grid;
  height: 100px;
  width: 100px;
  color: #fff;
  user-select: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 30px;
  padding-top: 35px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.048);
  border-bottom: 1px solid rgba(255, 255, 255, 0.048);
  border-left: 1px solid rgba(255, 255, 255, 0.048);
}
.calculator-box .calculator span:hover {
  transition: 0s;
  background: rgba(255, 255, 255, 0.048);
  font-size: 30.5px;
}
.calculator-box .calculator .clear {
  grid-column: span 2;
  width: 200px;
}
.calculator-box .calculator .equal {
  grid-column: span 2;
  width: 200px;
}
